@import "tailwindcss";

@utility btn{
    @apply px-4 py-2 rounded-lg transition-all duration-500 ease-in-out;
}

@utility btn-primary{
    @apply bg-blue-500 text-white hover:bg-blue-700;
}

@utility ghost-btn{
    @apply hover:bg-gray-400 text-white text-xl font-semibold;
}

@utility btn-danger{
    @apply bg-red-500 hover:bg-red-700 py-1 text-white font-semibold;
}

@utility disabled-btn{
    @apply bg-gray-400 cursor-not-allowed opacity-50
}

@utility input{
    @apply border-2 border-black rounded-lg px-2 transition-all duration-400 ease-in-out
}

@utility select{
    @apply ml-2 bg-white border-2 border-black px-2 transition-all duration-400 ease-in-out
}

@theme {
    --animate-grow: grow 1s linear infinite alternate;
    @keyframes grow{
        0%{transform: scale(0.95);}
        100% {transform: scale(1);}
    }
}